.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.blank-editor {
	min-height: 100%;
	max-width: 800px;
	margin: auto;
	padding: 50px 0;
	outline: none;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	-webkit-user-modify: read-write-plaintext-only;
	background-color: white;
}

.blank-container {
	font-size: 18px;
	line-height: 1.6em;
	font-family: Cambria, Georgia, serif;
}
